<div class=" flex flex-col gap-4  gap-0 sm:me-4  ">
    <!-- dropdown section -->
    <div class="flex justify-between mb-2 ml-[60px] md:ml-0">
        <div class="flex relative">
            <div class="flex gap-2" 
                [ngClass]="(!aciPaymentHubTooltipDone)? 'bg-[#F7F8FA] p-[16px] rounded-[8px] tooltip' : ''" 
                [ngClass]="aciPaymentHubTooltip? 'bg-[#F7F8FA] p-[16px] rounded-[8px] tooltip' : ''" >
                <!-- Select States dropdown section -->
                <div class="relative w-30">
                    <!-- States Dropdown Button -->
                    <button
                        type="button"
                        (click)="toggleProductDropdown()"
                        class="w-full text-left bg-white border border-[#D5D7DA] rounded-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] py-2 px-4 flex justify-between items-center text-dropdown-text-color text-sm font-medium h-[100%] whitespace-nowrap overflow-hidden truncate w-[18ch]">
                        {{ selectedStates || 'States'}}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 text-gray-500"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </button>
                    <!-- States Dropdown Menu -->
                    <div
                        *ngIf="isProductDropdownOpen"
                        class="absolute w-full bg-white border border-gray-200 rounded-md shadow-lg z-10">
                        <ul>
                            <li
                                *ngFor="let product of products"
                                (click)="selectProduct(product)"
                                class="text-dropdown-text-color cursor-pointer px-4 py-2 hover:bg-gray-100 text-sm font-medium border-b border-gray-200 last:border-b-0"
                            >
                                {{ product }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/* Filter */-->
                <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-search-text-color text-sm font-medium">
                    <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/filter-icon.svg')]">
                    </span>
                </div>
            </div>
            <!-- Select Product dropdown tooltip -->
            <div class="hidden md:block">
                <div [ngClass]="(!aciPaymentHubTooltipDone)? 'overlay' : ''" 
                [ngClass]="aciPaymentHubTooltip? 'overlay' : ''"></div>
                <div [ngClass]="(!aciPaymentHubTooltipDone)? 'block tooltip' : ' hidden'" 
                    [ngClass]="aciPaymentHubTooltip? 'block tooltip' : ' hidden'" 
                    >
                    <div class="flex flex-col bg-white p-[18px] gap-[16px]  items-center rounded-[12px] absolute aci-payment-hub-tooltip tooltip ">
                        <p class="text-[18px] text-title-color leading-[130%] font-medium">Use the dropdown menu to switch Products and versions.</p>
                        <div class="flex justify-between w-full mt-[10px] gap-[12px]">
                            <button class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[168px] h-[44px] gradient-border-button" (click)="skipAciPaymentHubTooltip()">
                                Skip
                            </button>
                            <button class="active-button flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[168px] h-[44px]" (click)="goToCreateDocTooltip()" >
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bell icon -->
        <!--/* <span class="w-[22.76px] h-[29.25px] bg-[url('./app/resources/icons/blue-bell-icon.svg')]"></span> */-->
    </div>
    <!--/* Welcome and Customize Widgets */-->
    <div class="flex justify-between">
        <div>
            <h2>Welcome {{userName}}!</h2>
        </div>
        <button class="hidden lg:flex bg-white justify-center items-center py-[8px] px-[16px] gap-[8px] border border-[#D5D7DA] rounded-[8px] w-fit h-fit border gradient-border-button" (click)="customizeWidgets()">
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.666667 7.16667H4.66667C5.03333 7.16667 5.33333 6.86667 5.33333 6.5V1.16667C5.33333 0.8 5.03333 0.5 4.66667 0.5H0.666667C0.3 0.5 0 0.8 0 1.16667V6.5C0 6.86667 0.3 7.16667 0.666667 7.16667ZM0.666667 12.5H4.66667C5.03333 12.5 5.33333 12.2 5.33333 11.8333V9.16667C5.33333 8.8 5.03333 8.5 4.66667 8.5H0.666667C0.3 8.5 0 8.8 0 9.16667V11.8333C0 12.2 0.3 12.5 0.666667 12.5ZM7.33333 12.5H11.3333C11.7 12.5 12 12.2 12 11.8333V6.5C12 6.13333 11.7 5.83333 11.3333 5.83333H7.33333C6.96667 5.83333 6.66667 6.13333 6.66667 6.5V11.8333C6.66667 12.2 6.96667 12.5 7.33333 12.5ZM6.66667 1.16667V3.83333C6.66667 4.2 6.96667 4.5 7.33333 4.5H11.3333C11.7 4.5 12 4.2 12 3.83333V1.16667C12 0.8 11.7 0.5 11.3333 0.5H7.33333C6.96667 0.5 6.66667 0.8 6.66667 1.16667Z" fill="black"/>
            </svg>
            <p class="text-title-color">Customize Widgets</p>
        </button>
    </div>
    <!-- summary card section -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- summary card -->
        <div *ngFor="let upDate of releaseNotesSummary">
            <app-summary-card [data]="upDate"/>
        </div>
    </div>
    <!-- release history search, filter, and create documentation section -->
    <div class="flex flex-col gap-[16px]" *ngIf="userRole != 'Help24 Analyst'">
        <p class="font-medium text-base text-title-color">Documentation History</p>
        <div class="flex flex-col md:flex-row gap-4 justify-between">
            <!-- Search Filter -->
            <div class="flex gap-[8px] justify-center">
                <!--/* Search */-->
                <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[8px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-search-text-color text-sm font-medium w-[273px]">
                    <span class="flex justify-center items-center w-[12.4px] h-[12.4px] bg-[url('./app/resources/icons/search-icon.svg')]"></span>
                    <input type="text" placeholder="Search"/>
                </div>
                <!--/* Filter */-->
                <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-search-text-color text-sm font-medium">
                    <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/filter-icon.svg')]">
                    </span>
                </div>
            </div>
            <!-- Create Documentation -->
            <div class="flex gap-[16px] relative justify-center">
                <div [ngClass]="!createDocTooltipDone? 'bg-[#F7F8FA] p-[16px] rounded-[8px] tooltip' : ''"
                    [ngClass]="createDocTooltip? 'bg-[#F7F8FA] p-[16px] rounded-[8px] tooltip' : ''">
                    <button class="active-button text-white bg-primary flex items-center gap-[8px] px-[14px] py-[10px] rounded-lg border border-[#D5D7DA]" (click)="goToDocumentationGeneratingPage()">
                        <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/white-stars.svg')]">
                        </span>
                        Create Documentation
                    </button>
                </div>
                <!-- create documentation tooltip -->
                <div class="hidden md:block">
                    <div [ngClass]="(!createDocTooltipDone)? 'overlay' : ''" 
                    [ngClass]="createDocTooltip? 'overlay' : ''"></div>
                    <div [ngClass]="!createDocTooltipDone? 'block tooltip' : ' hidden'" 
                        [ngClass]="createDocTooltip? 'block tooltip' : ' hidden'">
                        <div class="flex flex-col bg-white p-[18px] gap-[16px] w-[384px] h-[146px] items-center rounded-[12px] absolute create-documentation-tooltip">
                            <p class="text-[18px] text-title-color leading-[130%] font-medium">Click this button to start generating your documentation</p>
                            <div class="flex justify-between w-full mt-[10px]">
                                <button class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[168px] gradient-border-button" (click)="skipCreateDocTooltip()">
                                    Skip
                                </button>
                                <button class="active-button flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[168px]" (click)="goToStartNewChatTooltip()">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bug fixes search section -->
    <div class="flex justify-between items-center" *ngIf="userRole === 'Help24 Analyst'">
        <p class="font-medium text-base text-title-color">Bug Fixes in the latest release</p>
        <div>
            <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-search-text-color text-sm font-medium w-[273px]">
                <span class="flex justify-center items-center w-[12.4px] h-[12.4px] bg-[url('./app/resources/icons/search-icon.svg')]"></span>
                <input trpe="text" placeholder="Search"/>
            </div>
        </div>
    </div>
    <!-- release history list-->
    <div *ngIf="userRole != 'Help24 Analyst'">
        <app-release-history-table [data]="releaseHistory" [listPerPage]="listNumber" />
    </div>
    <!-- bug fixes list-->
    <div *ngIf="userRole === 'Help24 Analyst'">
        <app-bug-fixes-table [data]="bugFixes" />
    </div>
    <!--/* Start New Chart */-->
    <div class="flex flex-col justify-center items-center gap-[16px] relative">
        <!-- Start New Chart tooltip -->
        <div class="hidden md:block">
            <div [ngClass]="(!startNewChatTooltipDone)? 'overlay' : ''" 
            [ngClass]="startNewChatTooltip? 'overlay' : ''"></div>
            <div [ngClass]="!startNewChatTooltipDone? 'block tooltip' : ' hidden'" 
                [ngClass]="startNewChatTooltip? 'block tooltip' : ' hidden'">
                <div class="flex flex-col bg-white p-[18px] gap-[16px] w-[384px] h-[146px] items-center rounded-[12px] absolute start-new-chat-tooltip">
                    <p class="text-[18px] text-title-color leading-[130%] font-medium">Alternatively, click this button to ask the Assistant any questions.</p>
                    <div class="flex justify-between w-full mt-[10px]">
                        <button class="active-button flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[100%]" (click)="doneWithTooltip()">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="!startNewChatTooltipDone? 'bg-[#F7F8FA] p-[16px] rounded-[8px] tooltip' : ''"
            [ngClass]="startNewChatTooltip? 'bg-[#F7F8FA] p-[16px] rounded-[8px] tooltip' : ''">
            <div class="flex justify-center items-center mb-[0px]">
                <button
                    class="bg-white flex justify-center items-center py-[16px] px-[24px] gap-[16px] border border-[#D5D7DA] rounded-[16px] w-fit h-fit p-2 border gradient-border-button" (click)="dashboardStartNewChat()">
                    <p>Start New Chat</p>
                    <div class="w-[23px] h-[23px] bg-[url('./app/resources/icons/blue-stars.svg')]"></div>
                </button>
            </div>
        </div>
    </div>
</div>

<!--/* model section */-->
<div class="hidden md:block">
    <div [ngClass]="(!skipTooltipValue)? 'overlay' : ''" 
    [ngClass]="!dashboardModelDone? 'overlay' : ''"></div>
    <div [ngClass]="!skipTooltipValue? 'block' : ' hidden'" 
        [ngClass]="!dashboardModelDone? 'block' : ' hidden'">
        <div class="flex flex-col bg-white p-[24px] gap-[16px] w-[400px] h-[400px] items-center rounded-[12px] absolute dashboard-model tooltip">
            <div class="w-[352px] h-[200px] bg-[url('./app/resources/images/dashboard-tooltip-image.svg')] rounded-lg">
            </div>
            <p class="font-semibold text-lg text-title-color mb-[-10px]">Welcome to your dashboard</p>
            <p class="text-sm text-center text-description-color leading-[20px]">We’re glad to have you onboard. Here are some quick tips to get you up and running.</p>
            <div class="flex justify-between w-full mt-[10px]">
                <button class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[170px] gradient-border-button" (click)="skipTooltip()">
                    Skip
                </button>
                <button class="active-button flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[170px]" (click)="goToAciPaymentHubTooltip()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Customize Widget modal -->
<div id="crypto-modal"  class="h-full overflow-x-hidden overflow-y-hidden fixed top-0 right-0 z-50 justify-center items-center" [ngClass]="isCustomizeWidgets? 'block' : ' hidden'">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700 h-full">
        <!-- Modal header -->
        <div class="flex items-center justify-between px-4 pt-6 pb-0 modalHeader">
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.666667 7.16667H4.66667C5.03333 7.16667 5.33333 6.86667 5.33333 6.5V1.16667C5.33333 0.8 5.03333 0.5 4.66667 0.5H0.666667C0.3 0.5 0 0.8 0 1.16667V6.5C0 6.86667 0.3 7.16667 0.666667 7.16667ZM0.666667 12.5H4.66667C5.03333 12.5 5.33333 12.2 5.33333 11.8333V9.16667C5.33333 8.8 5.03333 8.5 4.66667 8.5H0.666667C0.3 8.5 0 8.8 0 9.16667V11.8333C0 12.2 0.3 12.5 0.666667 12.5ZM7.33333 12.5H11.3333C11.7 12.5 12 12.2 12 11.8333V6.5C12 6.13333 11.7 5.83333 11.3333 5.83333H7.33333C6.96667 5.83333 6.66667 6.13333 6.66667 6.5V11.8333C6.66667 12.2 6.96667 12.5 7.33333 12.5ZM6.66667 1.16667V3.83333C6.66667 4.2 6.96667 4.5 7.33333 4.5H11.3333C11.7 4.5 12 4.2 12 3.83333V1.16667C12 0.8 11.7 0.5 11.3333 0.5H7.33333C6.96667 0.5 6.66667 0.8 6.66667 1.16667Z" fill="black"/>
                </svg>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Customize Widgets
            </h3>
            <button type="button" class="text-gray-900 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crypto-modal" (click)="closeCustomizeWidgets()">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 pb-[150px] modalContent h-[100%]">
            <ul class="my-4 space-y-3">
                <li *ngFor="let givenDate of personaWidgetList">
                    <div  class="flex justify-center items-center w-[100%]">
                        <div class="listIcon"></div>
                        <!--/* blue border */-->
                        <div class="flex flex-col p-3 text-base text-gray-900 rounded-lg dark:text-white w-[98%] border border-[#D5D7DA]"
                        [ngClass]="selectedCustomizeWidgets.includes(givenDate) ? 'gradient-border' : ''">
                            <div class="flex justify-between" >
                                <p class="text-[12.8px] font-bold text-gray-500 dark:text-gray-400">What’s New (Latest Updates in the Product)</p>
                                <label class="switch">
                                    <input 
                                        type="checkbox"
                                        name="customizeWidgets"
                                        [value]="givenDate"
                                        [checked]="selectedCustomizeWidgets.includes(givenDate)"
                                        (change)="toggleCustomizeWidgets(givenDate)"
                                    >
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <p class="text-[9.61px] font-normal text-gray-500 dark:text-gray-400 pb-4">See highlights of new features and improvements..</p>
                            <div class="flex flex-col justify-between gap-6">
                                <div class="w-[70%]">
                                    <app-summary-card class="modalProductLatest" [data]="givenDate" />
                                </div>
                                <div style="width: 25%"> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--/* table */-->
                <li>
                    <div  class="flex justify-center items-center w-[100%]">
                        <div class="listIcon"></div>
                        <div class="flex flex-col p-3 text-base text-gray-900 rounded-lg  hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white gradient-border w-[98%]">
                            <div class="flex justify-between" >
                                <p class="text-[12.8px] font-bold text-gray-500 dark:text-gray-400">What’s New (Latest Updates in the Product)</p>
                                <label class="inline-flex items-center cursor-pointer"> 
                                    <input type="checkbox" value="" class="sr-only peer">
                                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                                </label>
                            </div>
                            <p class="text-[9.61px] font-normal text-gray-500 dark:text-gray-400 pb-4">See highlights of new features and improvements..</p>
                            <div class="flex justify-between" >
                                <app-release-history-table class="modalReleaseHistoryListData" [data]="releaseHistory" [listPerPage]="listNumber"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center py-4 px-9 ps-11 bottom-0 absolute bg-white w-full">
            <div class="flex justify-between w-full mt-[10px] gap-[12px]">
                <button class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[220px] h-[44px]" (click)="restoreTodefault()">
                    Restore to default
                </button>
                <button class="active-button flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[220px] h-[44px]" (click)="saveCustomizeWidgets()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>












