<div class="bg-white border border-[#D0D1D4] rounded-lg  flex flex-col justify-evenly gap-[16px] px-[8px] py-[8px]">
    
        <div class="flex gap-[8px] justify-between"> 
            <p class="text-xs font-normal text-[#333740] self-center">{{ data.heading}} {{ title }}</p>
                <button class="flex gap-[4px] items-end">
                    <div class="w-[19px] h-[20px] bg-[url('./app/resources/icons/orange-stars.svg')]"></div>
                    <p class="text-xs font-medium  flex  text-[#FF6632]">Ask Insites</p>
                </button> 
            
        </div>
    
    <div class="flex flex-col gap-[4px]">
        <p class="mt-[8px] text-[32px] font-semibold">{{ data.label }}</p>
    </div>
     <!-- link section -->
     <div class="flex flex-row lg:gap-[4px] sm:gap-[4px] justify-between">
        <!-- <hr class="border-none h-[1px] bg-[#e2e8f0]"> -->
        
            
            <!-- <div class="text-xs font-medium py-[4px] px-[6px] bg-[#E7F6E5] rounded-[4px]">
                <p class="w-[14px] h-[9px] scale-[0.7] bg-[url('./app/resources/icons/icon_increase.svg')] bg-no-repeat bg-position-[left_top_1rem]">      34</p>
            </div> -->
            <div class="text-xs font-medium py-[4px] px-[6px] bg-[#E7F6E5] rounded-[4px]">
            <button class="flex gap-[4px]">
                
                <div class="w-[14px] h-[9px] bg-[url('./app/resources/icons/icon_increase.svg')] bg-no-repeat self-center"></div>
                <p class="text-xs font-normal text-[#0DA500] inline-block">{{ data.data }}%</p>
           
            </button> 
            </div>
            <p class="text-xs font-normal py-[4px] px-[8px] text-[#333740]">2024 - Present</p>
            <button class="flex gap-[4px] items-end">
                <div class="w-[16px] h-[16px]  bg-[url('./app/resources/icons/icon_link.svg')] bg-no-repeat self-center"></div>
                <p class="text-sm font-normal text-[#737780]  self-center">sources</p>
                <!--/* <p class="text-sm text-primary font-bold flex items-center">{{ data.moreInfo }}</p> */-->
            </button> 
      
        
    </div>
</div>

