/* sidebar */
.active {
    background: rgba(231, 246, 229, 1);
}
.tooltip-text{
    display: none;
}
.tooltip-btn:hover .tooltip-text{
    display: block;
}
.tooltip-btn:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(43, 42, 221, 0.1);
    border-radius: 16px;
}