/* global styles, and imported files */

/* google fonts family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* google Material icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import "tailwindcss";

@theme {

  /* font family */
  --font-display: "Satoshi", "sans-serif";
  --font-Inter: "Inter", "sans-serif";

  /* color palette */
  --color-primary: #2726DD;
  --color-secondary: #FF6632;

  --color-title-color: #101828;
  --color-subtitle-color: #30425C;
  --color-description-color: #727272;  /* card description */

  --color-primary-text-color: #2C2D2E;
  --color-secondary-text-color: #919399;
  --color-tertiary-text-color: #333740;

  --color-caption-color: #333740;
  --color-dropdown-text-color: #333740;
  --color-search-text-color: #666f8d;

  
  --color-warning: #FFB240;
  --color-failure: #C33025;

  /* cta */
  --color-primary-cta-hover: #14136F;
  --color-primary-cta-disabled: #D0D1D4;

  /* typography scale */
  --text-smalltext: 8px;
 
}

html, body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:fixed;
    
    background: url("./app/resources/images/insites-bg-image.svg");
    /* background: linear-gradient(242.27deg, #569800 4%, #E7FFC9 43.62%, #00A748 85.58%); */
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    font-family: var(--font-Inter);
}
*{
    outline: none;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-title-color); 
}
h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-title-color);
}
h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-subtitle-color);
}
h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-subtitle-color);
}
h5 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-description-color);
}
h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary-text-Color);
}

/* chat section */
.chat-answer ol {
  list-style: decimal !important;
  padding-left: 1.5rem;
}
.chat-answer ul {
  list-style: disc !important;
  padding-left: 1.5rem;
}
.chat-answer li {
  margin-bottom: 0.5rem;
}
.chat-answer :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0.5rem;

  font-size: unset;
  font-weight: unset;
  color: unset;
}
.follow-up li::marker {
  color: var(--color-primary)
}

/* Customize Widget modal */
.modalProductLatest > div {
  padding-inline: 12px !important;
}
.modalProductLatest > div > div > p{
  font-size: 9px !important;
}
.modalProductLatest > div > div > ul > li{
  font-size: 9px !important;
}
.modalProductLatest > div > div:nth-child(2) {
  gap: 8px !important;
}
.modalProductLatest > div > div:nth-child(2) > a > p{
  font-size: 9px !important;
}
.modalProductLatest > div > div > div > p {
  font-size: 9px !important;
}

.modalReleaseHistoryListData > div > ul > li > div{
  font-size: 9px !important;
}
.modalReleaseHistoryListData > div > ul > li {
  padding-inline-start: 5px !important;
  gap: 2px !important;
}
.modalReleaseHistoryListData > div > ul > li > div > span{
  font-size: 9px !important;
  padding: 2px !important;
}
.modalReleaseHistoryListData > div > ul > li > div:nth-child(5) > span{
  height: 20px !important;
  width: 20px !important;
}
.modalReleaseHistoryListData > div > div {
  font-size: 9px !important;
}

/* custom-highlight for chat search*/
.custom-highlight {
  color: #000; 
  font-weight: 600; 
}






